nodered/flows.json
[
  {
    "id": "tab-cookie-oee",
    "type": "tab",
    "label": "Cookie Line OEE",
    "disabled": false,
    "info": "Gemelo digital — Línea de galletas"
  },
  {
    "id": "mqtt-in-all",
    "type": "mqtt in",
    "z": "tab-cookie-oee",
    "name": "MQTT factory/cookie-line/#",
    "topic": "factory/cookie-line/#",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-hivemq",
    "x": 130,
    "y": 80,
    "wires": [
      [
        "route-by-topic"
      ]
    ]
  },
  {
    "id": "broker-hivemq",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud",
    "broker": "",
    "port": "",
    "clientid": "nodered-cookie-monitor",
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "credentials": {
      "user": "",
      "password": ""
    },
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "route-by-topic",
    "type": "switch",
    "z": "tab-cookie-oee",
    "name": "Enrutar por topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "/oee"
      },
      {
        "t": "cont",
        "v": "/line/summary"
      },
      {
        "t": "cont",
        "v": "/M1/status"
      },
      {
        "t": "cont",
        "v": "/M2/status"
      },
      {
        "t": "cont",
        "v": "/M3/status"
      },
      {
        "t": "cont",
        "v": "/M4/status"
      },
      {
        "t": "cont",
        "v": "/M5/status"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 7,
    "x": 360,
    "y": 80,
    "wires": [
      [
        "extract-oee"
      ],
      [
        "extract-summary"
      ],
      [
        "extract-m1"
      ],
      [
        "extract-m2"
      ],
      [
        "extract-m3"
      ],
      [
        "extract-m4"
      ],
      [
        "extract-m5"
      ]
    ]
  },
  {
    "id": "extract-oee",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "Extraer OEE",
    "func": "var p = msg.payload;\n\nflow.set('oee', p.oee);\nflow.set('shift_number', p.shift_number);\n\n// Gauge OEE\nmsg.payload = p.oee;\nmsg.topic   = 'OEE %';\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 40,
    "wires": [
      [
        "gauge-oee",
        "chart-oee"
      ]
    ]
  },
  {
    "id": "gauge-oee",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "OEE %",
    "group": "group-oee",
    "order": 1,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "OEE Global",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#d32f2f",
      "#f9a825",
      "#388e3c"
    ],
    "seg1": "50",
    "seg2": "75",
    "x": 840,
    "y": 40,
    "wires": []
  },
  {
    "id": "chart-oee",
    "type": "ui_chart",
    "z": "tab-cookie-oee",
    "name": "Tendencia OEE",
    "group": "group-oee",
    "order": 2,
    "width": "12",
    "height": "4",
    "label": "OEE en el tiempo (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Esperando datos...",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": "0",
    "useOneColor": false,
    "colors": [
      "#1e88e5"
    ],
    "x": 840,
    "y": 80,
    "wires": []
  },
  {
    "id": "extract-summary",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "Extraer resumen línea",
    "func": "var p = msg.payload;\n\n// ── Etiquetas de estado ───────────────────────────────────────────\nvar stateLabel = {\n  running: '▶  CORRIENDO',\n  fault:   '⚠  FALLA',\n  stopped: '⏹  DETENIDA',\n  startup: '🔄  ARRANQUE'\n};\n\n// Output 1: estado general de la línea\nvar stateMsg = { payload: stateLabel[p.line_state] || p.line_state };\n\n// Output 2 y 3: producción acumulada y rechazos para el chart\nvar producedMsg = { payload: p.total_produced, topic: 'Producidas' };\nvar rejectedMsg = { payload: p.total_rejected, topic: 'Rechazadas' };\n\n// Output 4: detalle de falla o arranque\nvar detailText = '— Sin alertas activas —';\nif (p.fault_details && p.fault_details.length > 0) {\n  detailText = p.fault_details.map(function(f) {\n    return '⚠ ' + f.name + ' (' + f.machine + ') → ' + f.alarm;\n  }).join('  |  ');\n} else if (p.machines_starting && p.machines_starting.length > 0) {\n  detailText = '🔄 Arrancando: ' + p.machines_starting.join(', ');\n}\nvar detailMsg = { payload: detailText };\n\n// Output 5: tasa de merma %\nvar rejectMsg = { payload: parseFloat((p.reject_rate_pct || 0).toFixed(2)) };\n\nreturn [ stateMsg, producedMsg, rejectedMsg, detailMsg, rejectMsg ];",
    "outputs": 5,
    "x": 620,
    "y": 180,
    "wires": [
      [
        "text-line-state"
      ],
      [
        "chart-production"
      ],
      [
        "chart-production"
      ],
      [
        "text-fault-detail"
      ],
      [
        "gauge-reject-rate"
      ]
    ]
  },
  {
    "id": "text-line-state",
    "type": "ui_text",
    "z": "tab-cookie-oee",
    "group": "group-linea",
    "order": 1,
    "width": "4",
    "height": "1",
    "name": "Estado Línea",
    "label": "Estado de Línea",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 870,
    "y": 140,
    "wires": []
  },
  {
    "id": "text-fault-detail",
    "type": "ui_text",
    "z": "tab-cookie-oee",
    "group": "group-linea",
    "order": 2,
    "width": "12",
    "height": "1",
    "name": "Detalle Falla",
    "label": "Alerta activa",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 870,
    "y": 180,
    "wires": []
  },
  {
    "id": "gauge-reject-rate",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "Tasa de Merma",
    "group": "group-linea",
    "order": 3,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Merma del Turno",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "10",
    "colors": [
      "#388e3c",
      "#f9a825",
      "#d32f2f"
    ],
    "seg1": "1",
    "seg2": "3",
    "x": 870,
    "y": 220,
    "wires": []
  },
  {
    "id": "chart-production",
    "type": "ui_chart",
    "z": "tab-cookie-oee",
    "name": "Producción vs Rechazos",
    "group": "group-linea",
    "order": 4,
    "width": "12",
    "height": "4",
    "label": "Producción acumulada en el turno",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sin datos",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": "0",
    "useOneColor": false,
    "colors": [
      "#1e88e5",
      "#e53935"
    ],
    "x": 890,
    "y": 260,
    "wires": []
  },
  {
    "id": "extract-m1",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "M1 Mezcladora",
    "func": "var p = msg.payload;\nif (p.state === 'fault')   node.warn('⚠ FALLA M1 Mezcladora: ' + p.alarm);\nif (p.state === 'startup') node.log('🔄 ARRANQUE M1 Mezcladora');\nmsg.topic   = 'M1-' + p.state;\nmsg.payload = p.speed_pct;\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 340,
    "wires": [
      [
        "gauge-m1"
      ]
    ]
  },
  {
    "id": "gauge-m1",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "M1 Velocidad",
    "group": "group-maquinas",
    "order": 1,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "M1 Mezcladora",
    "label": "%vel",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#d32f2f",
      "#f9a825",
      "#388e3c"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 840,
    "y": 340,
    "wires": []
  },
  {
    "id": "extract-m2",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "M2 Laminadora",
    "func": "var p = msg.payload;\nif (p.state === 'fault')   node.warn('⚠ FALLA M2 Laminadora: ' + p.alarm);\nif (p.state === 'startup') node.log('🔄 ARRANQUE M2 Laminadora');\nmsg.topic   = 'M2-' + p.state;\nmsg.payload = p.speed_pct;\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 400,
    "wires": [
      [
        "gauge-m2"
      ]
    ]
  },
  {
    "id": "gauge-m2",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "M2 Velocidad",
    "group": "group-maquinas",
    "order": 2,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "M2 Laminadora",
    "label": "%vel",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#d32f2f",
      "#f9a825",
      "#388e3c"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 840,
    "y": 400,
    "wires": []
  },
  {
    "id": "extract-m3",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "M3 Cortadora",
    "func": "var p = msg.payload;\nif (p.state === 'fault')   node.warn('⚠ FALLA M3 Cortadora: ' + p.alarm);\nif (p.state === 'startup') node.log('🔄 ARRANQUE M3 Cortadora');\nmsg.topic   = 'M3-' + p.state;\nmsg.payload = p.speed_pct;\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 460,
    "wires": [
      [
        "gauge-m3"
      ]
    ]
  },
  {
    "id": "gauge-m3",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "M3 Velocidad",
    "group": "group-maquinas",
    "order": 3,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "M3 Cortadora",
    "label": "%vel",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#d32f2f",
      "#f9a825",
      "#388e3c"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 840,
    "y": 460,
    "wires": []
  },
  {
    "id": "extract-m4",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "M4 Horno",
    "func": "var p = msg.payload;\nif (p.state === 'fault')   node.warn('⚠ FALLA M4 Horno: ' + p.alarm);\nif (p.state === 'startup') node.log('🔄 ARRANQUE M4 Horno');\n\nvar speedMsg = { payload: p.speed_pct, topic: 'M4-' + p.state };\nvar tempMsg  = { payload: p.temperature_c, topic: 'Temperatura' };\n\n// Desviación de temperatura: enviar al chart de tendencia\nvar deviationMsg = { payload: p.temp_deviation || 0, topic: 'Desviación °C' };\n\nreturn [ speedMsg, tempMsg, deviationMsg ];",
    "outputs": 3,
    "x": 610,
    "y": 520,
    "wires": [
      [
        "gauge-m4-speed"
      ],
      [
        "gauge-m4-temp"
      ],
      [
        "chart-temp-trend"
      ]
    ]
  },
  {
    "id": "gauge-m4-speed",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "M4 Velocidad",
    "group": "group-maquinas",
    "order": 4,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "M4 Horno",
    "label": "%vel",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#d32f2f",
      "#f9a825",
      "#388e3c"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 840,
    "y": 500,
    "wires": []
  },
  {
    "id": "gauge-m4-temp",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "M4 Temperatura",
    "group": "group-maquinas",
    "order": 5,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "Temperatura Horno",
    "label": "°C",
    "format": "{{value}}",
    "min": "150",
    "max": "220",
    "colors": [
      "#1565c0",
      "#f9a825",
      "#d32f2f"
    ],
    "seg1": "175",
    "seg2": "195",
    "x": 840,
    "y": 540,
    "wires": []
  },
  {
    "id": "chart-temp-trend",
    "type": "ui_chart",
    "z": "tab-cookie-oee",
    "name": "Tendencia Temperatura Horno",
    "group": "group-maquinas",
    "order": 8,
    "width": "12",
    "height": "3",
    "label": "Desviación de temperatura horno (°C desde setpoint 185°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sin datos",
    "dot": false,
    "ymin": "-10",
    "ymax": "10",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": "0",
    "useOneColor": false,
    "colors": [
      "#ff7043"
    ],
    "x": 880,
    "y": 580,
    "wires": []
  },
  {
    "id": "extract-m5",
    "type": "function",
    "z": "tab-cookie-oee",
    "name": "M5 Empacadora",
    "func": "var p = msg.payload;\nif (p.state === 'fault')   node.warn('⚠ FALLA M5 Empacadora: ' + p.alarm);\nif (p.state === 'startup') node.log('🔄 ARRANQUE M5 Empacadora');\nmsg.topic   = 'M5-' + p.state;\nmsg.payload = p.speed_pct;\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 620,
    "wires": [
      [
        "gauge-m5"
      ]
    ]
  },
  {
    "id": "gauge-m5",
    "type": "ui_gauge",
    "z": "tab-cookie-oee",
    "name": "M5 Velocidad",
    "group": "group-maquinas",
    "order": 7,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "M5 Empacadora",
    "label": "%vel",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#d32f2f",
      "#f9a825",
      "#388e3c"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 840,
    "y": 620,
    "wires": []
  },
  {
    "id": "group-oee",
    "type": "ui_group",
    "name": "OEE en Tiempo Real",
    "tab": "ui-tab-cookie",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group-linea",
    "type": "ui_group",
    "name": "Estado de Línea",
    "tab": "ui-tab-cookie",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group-maquinas",
    "type": "ui_group",
    "name": "Máquinas",
    "tab": "ui-tab-cookie",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui-tab-cookie",
    "type": "ui_tab",
    "name": "Línea de Galletas",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]